:root {
    --font-sz-main-header: 40px;
    --form-input-txt-font-sz: 18px;
}

.create-account-pg h1 {
    font-size: var(--font-sz-main-header);
    text-align: center;
    margin: 15px 0px;
}

/* google sign in button */
.g_id_signin>div>div {
    /* width: 150% !important; */
    width: 350px;
    transform: translateY(50%);
    border-radius: 2.5rem;
}

.create-account-input-form {
    grid-template-columns: repeat(2, 1fr);
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section>form {
    width: 85%;
}

.or-txt-section,
.form-section {
    padding: 0px 40px;
}

@media(min-width: 577px) and (max-width: 991px) {

    .or-txt-section,
    .form-section {
        padding: 0px 0px;
    }

    .form-section {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
}

#create-account-form label {
    font-weight: bold;
}

#create-account-form label,
#create-account-form input {
    font-size: var(--form-input-txt-font-sz);
}

.create-account-input-form ul {
    margin: 0px;
    height: 25px;
    display: inline;
    padding: 0px 10px;
    width: 80%;
}

.country-option {
    display: inline-flex;
    height: 80px;
    width: 98%;
    list-style-type: none !important;
    /* padding: 0px 10px; */
}

#country-img-container img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#country-img-container img,
.country-option img {
    width: 70px;
    height: 70px;
}

.country-option:not(:last-of-type) {
    border-bottom: solid .5px grey;
}

.country-option:not(:first-of-type) {
    margin-top: 8px;
}

.country-option>div:first-of-type {
    width: 75%;
}

.country-option>div:last-of-type {
    width: 25%;
}

.country-option span {
    text-transform: capitalize;
    margin-left: 10px;
}

.create-account-input-form input {
    margin-top: 7px;
    border-radius: .7rem;
    padding: 8px;
    width: 80%;
    user-select: none !important;
    border: solid .5px grey;
}

#country-input-sec {
    width: 80%;
}


#country-input-sec input {
    width: 60%;
}

#country-input-sec>div>div {
    width: 20%;
}

@media(max-width: 991px) {
    #country-input-sec input {
        width: 50%;
    }

    #country-input-sec>div>div {
        width: 30%;
    }
}

#create-account-form button {
    padding: 20px 40px;
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: .5rem;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #262626;
        color: white;
        transition: all .1s ease-in-out;
    }
}



/* .create-account-input-form li::before {
    content: "\2022";
    margin-right: 5px;
    color: #000; */
/* } */

.submit-btn-sec {
    margin-top: 20px;
}

.create-account-pg {
    padding-bottom: 75px;
}

@media(max-width: 576px) {
    .g_id_signin>div>div {
        /* width: 150% !important; */
        width: 225px;
    }

    .submit-btn-sec {
        margin-top: 30px;
    }

    .create-account-input-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .or-txt-section,
    .form-section {
        padding: 0 15px;
    }

    .create-account-pg {
        padding-bottom: 60px;
    }
}

.modal-countries-result {
    height: 250px;
    border: solid 1px grey;
    background-color: white;
    z-index: 10;
    border-radius: .5rem;
    transform: translate(2%, -2%);
    box-shadow: 10px 5px 5px grey;
    padding-top: 10px;
}

#countries-list {
    width: 95%;
    height: 240px;
    display: inline-block;
    overflow-y: scroll;
    list-style-type: none;
}