<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Create An Account</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="650291073552-0vsvpnts39gtn2uit45gt7jkaf91d3md.apps.googleusercontent.com">
</head>

<body>
    <h1>Create An Account</h1>
    <div id="g_id_onload" data-client_id="650291073552-0vsvpnts39gtn2uit45gt7jkaf91d3md.apps.googleusercontent.com"
        data-context="signup" data-ux_mode="redirect"
        data-login_uri="http://localhost:8000/user/google-auth-cred-receiver" data-auto_prompt="false">
    </div>
    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signup_with"
        data-size="large" data-logo_alignment="left">
    </div>
</body>
<script type="module" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>
<script type="module" src="{% static 'js/createAccountMain.js' %}"></script>

</html>