@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-element {
    transform: scale(1);
    animation: pulse 2s infinite
}

@keyframes fadeout-down {
    0% {
        opacity: 1;
        transform: translate(-50%, -390%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -330%);
    }
}

.fade-out-element-down {
    animation: fadeout-down .4s linear;
    animation-fill-mode: forwards;
}