.d-flex {
    display: flex;
}

.direction-row {
    flex-direction: row !important;
}

.direction-col {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.center-absolutely {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-btn-styles {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.rounded {
    border-radius: 3rem;
}

.circle {
    border-radius: 50%;
}

.border-red {
    border: solid 1px red;
}

.bg-succes {
    background-color: #28A745;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.center-absolutely {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-btn-styles {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.rounded {
    border-radius: 3rem;
}

.circle {
    border-radius: 50%;
}

.ms-small {
    margin-left: .2em;
}

.my-1 {
    margin: 1rem 0px !important;
}

.my-2 {
    margin: 2rem 0px !important;
}

.my-3 {
    margin: 3rem 0px !important;
}

.my-4 {
    margin: 4rem 0px !important;
}

.my-5 {
    margin: 5rem 0px !important;
}

.pointer {
    cursor: pointer !important;
}