@import '../variables.css';
@import '../animations.css';

:root {
    --heading-txt-font-fz: 70px;
    --btn-txt-font-sz: 45px;
    --border-radius-main-menu-btns: 1.5rem;
}

#main-menu-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#loading-main-menu-pg {
    background-color: #F0F0F0;
    border: solid 1.6px black;
}

#loading-main-menu-pg,
#main-menu-pg button {
    font-size: var(--btn-txt-font-sz);
    border-radius: var(--border-radius-main-menu-btns);
}

#loading-main-menu-pg,
#main-menu-pg button {
    width: 450px;
    padding: 10px 40px;
    word-wrap: break-word;
}

#loading-main-menu-pg,
#main-menu-pg button:not(:first-of-type) {
    margin-top: 20px;
}

#main-menu-pg h1 {
    font-size: var(--heading-txt-font-fz);
    text-align: center;
    width: 100%;
}

@keyframes jump {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(-20%);
    }

    75% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes fadeoutelement {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .75;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .25;
    }

    100% {
        opacity: 0;
    }
}

.jump-element {
    transform: translateY(0%);
    animation: jump 375ms infinite
}

.fade-element-out {
    opacity: 1;
    animation: fadeoutelement 400ms forwards;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

@media(max-width: 576px) {
    #main-menu-pg h1 {
        font-size: 50px;
    }
}

@media(max-width: 576px) {

    #loading-main-menu-pg {
        width: 60vw;
    }

    #loading-main-menu-pg,
    #main-menu-pg button {
        font-size: 35px;
    }

    #main-menu-pg button {
        width: 90vw;

    }
}

@media(min-width: 577px) {
    .d-sm-block {
        display: block !important
    }

    .d-sm-none {
        display: none !important;
    }
}