<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainMenu/mainMenu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Brain ⚡ | Main 📋</title>
</head>

<body>
    <div id="main" class="position-relative" style="height: 100vh; overflow: hidden;">
        {{nav_bar | safe}}
        <div id="content">
            <div id="main-menu-pg">
                <h1 class="my-2">Brain Blitz⚡</h1>
                <section id="btn-sec-main-menu-pg"
                    class="d-flex justify-content-center align-items-center direction-col">
                    <button id="play-btn">PLAY!</button>
                    <button id="how-to-play">How To Play</button>
                    <button id="leaderboard-btn">Leaderboard</button>
                    <!-- <button id="leaderboard-btn">Create Account</button> -->
                    <div id="loading-main-menu-pg" class="d-flex justify-content-center align-items-center">
                        Loading
                        <div id="dot-1" class="ms-small">
                            .
                        </div>
                        <div id="dot-2" class="ms-small">
                            .
                        </div>
                        <div id="dot-3" class="ms-small">
                            .
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="module" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>
<script type="module" src="{% static 'js/mainMenu.js' %}"></script>

</html>